// http://pixeljoint.com/forum/forum_posts.asp?TID=12795

$colors--dark: rgb(20, 12, 28);
$colors--old-blood: rgb(68, 36, 52);
$colors--deep-water: rgb(48, 52, 109);
$colors--old-stone: rgb(78, 74, 78);
$colors--wood: rgb(133, 76, 48);
$colors--vegetation: rgb(52, 101, 36);
$colors--blood: rgb(208, 70, 72);
$colors--stone: rgb(117, 113, 97);
$colors--water: rgb(89, 125, 206);
$colors--bright-wood: rgb(210, 125, 44);
$colors--metal: rgb(133, 149, 161);
$colors--grass: rgb(109, 170, 44);
$colors--skin: rgb(210, 170, 153);
$colors--sky: rgb(109, 194, 202);
$colors--sun: rgb(218, 212, 94);
$colors--light: rgb(222, 238, 214);

// http://paletton.com/#uid=7370u0k5qgb2NnT41jT74c8bJ8X

$colors--primary-lightest: #747F7B;
$colors--primary-light:    #5C6965;
$colors--primary:          #475651;
$colors--primary-dark:     #32403C;
$colors--primary-darkest:  #1E2F2A;

$colors--secondary-lightest: #72777C;
$colors--secondary-light:    #5B6167;
$colors--secondary:          #474D54;
$colors--secondary-dark:     #32383F;
$colors--secondary-darkest:  #1F262E;

$colors--alternate-lightest: #BEB8AE;
$colors--alternate-light:    #9E968B;
$colors--alternate:          #81786B;
$colors--alternate-dark:     #61584B;
$colors--alternate-darkest:  #473D2D;

$colors--complement-lightest: #BEB3AE;
$colors--complement-light:    #9E918B;
$colors--complement:          #81726B;
$colors--complement-dark:     #61524B;
$colors--complement-darkest:  #47362D;
