@import "palette";

.Creature {
  $creature--colors--human: $colors--skin;
  $creature--colors--goblin: $colors--primary-lightest;

  position: absolute;
  z-index: 4;
  width: 10px;
  height: 10px;

  &.Human {
    background-color: $creature--colors--human;
  }

  &.Goblin {
    background-color: $creature--colors--goblin;
  }
}
